body {
    padding-top: 0px !important;
    padding-bottom: 20px;
    background: #fbfbfb !important;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .navbar-brand {
    color: #ffffff !important;
}

    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
        color: #ffffff !important;
        background-color: transparent;
    }

.navbar {
    padding: 8px 0px !important;
    background-color: #461763 !important;
    border: none !important;
    box-shadow: 0px 1px 5px 3px #e3e3e3;
}

    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        color: #beff79 !important;
        background-color: transparent;
    }

    .navbar .navbar-nav > li > a {
        color: #ffffff !important;
    }

.body-content {
    margin-top: 30px !important;
}

/*========= table =============*/

.table {
    width:100%;
    background: #ffffff !important;
}

    .table thead {
        background-color: #714c87 !important;
    }

        .table thead tr th {
            color: #ffffff !important;
            text-align: center !important;
            vertical-align: middle !important;
        }

.tableOuter{
    overflow-x:auto !important;
}

/*========= Popup =============*/
.modal-header {
    background: darkkhaki !important;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #ffffff !important;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important;
}

/*====== label ========*/

label{
    font-weight:bold;
}
